html {
  font-size: 15px;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
*,
::before,
::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0 0 10px;
}
.container {
  max-width: 1030px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/* =====PAGE=======*/

.page {
  width: 100%;
  height: 100vh;
  background: url(../img/bg.png) center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 1370px;
}

/* =====HEADER=======*/

.header {
  background: #ffa500;
  color: #fff;
  padding: 1rem 0 1rem 0;
  margin-bottom: 110px;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-brand {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 700;
}
.header-logo img {
  display: block;
  width: 70px;
  height: 70px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
}
.header-nav-link {
  margin-left: 2rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s linear;
}
.header-nav-link:hover {
  color: #b2b2fa;
}
.header-nav-link.active {
  position: relative;
}
.header-nav-link.active::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
}
/* ======CONTENT========*/
.content {
  max-width: 565px;
  width: 100%;
}
.subtitle {
  font-size: 1.4rem;
  color: #fff;
  font-weight: 300;
  opacity: 0.6;
}
.title {
  font-size: 2rem;
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 35px;
}
span {
  color: #ffa500;
}
.text {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 50px;
}
.planet{
  width: 16px;
  height: 16px;
}
/*  ========BUTTON======== */

.btn {
  display: inline-block;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
  text-decoration: none;
  padding: 12px 35px;
  background-color: #ffa500;
  transition: background 0.2s linear;
  line-height: 1.1;
}
.btn:hover {
  background-color: #1461cb;
}

/* ME IMG */

.me {
  position: absolute;
  bottom: 0;
  height: 40%;
  right: 0px;
  padding-top: 25px;
  margin-bottom: 750px;
}

/* FOOTER */

.footer {
  margin-top: 25px;
  width: 100%;
}
.contacts {
  display: flex;
}
.contacts-link {
  margin-right: 2rem;
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}
.contacts-link::before {
  content: "  ";
}
.contacts-link:hover {
  text-decoration: underline;
}
.contacts-link:last-child {
  margin-right: none;
  position: relative;
}
.youtube {
  width: 14px;
  height: 14px;
}

/*SWIPER */

.swiper{
  color: wheat;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  height: 600px;
  width: 80%;
  margin-top: 50px;
}
.swiper-button-next::after, .swiper-button-prev::after, s{
  color: #ffa500;
}


/* MEDIA */


@media (max-width: 1550px) {
  .container {
    max-width: 1200px;
  }
  .content {
    max-width: 700px;
  }
  .text {
    font-size: 1.5rem;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 1000px;
  }
  .content {
    max-width: 600px;
  }
  .text {
    font-size: 1.5rem;
  }
  .header-nav-link {
    font-size: 1.7rem;
  }
  .header-logo > img {
    width: 70px;
    height: 70px;
  }
  .header-brand {
    font-size: 2.5rem;
  }
}
@media (max-width: 1112px) {
  .content {
    margin: 0 auto;
    text-align: center;
  }
  .me {
    display: none;
  }
  .page {
    min-height: 100vh;
    height: auto;
  }
  .header-logo {
    display: none;
  }
  .header-brand {
    font-size: 1.9rem;
  }
  .content {
    margin-bottom: 50px;
  }
  .footer {
    display: flex;
    text-align: center;
  }
  .contacts {
    flex-direction: column;
    text-align: center;
  }
  .btn {
    margin-left: 360px;
  }
}
@media (max-width: 993px) {
  .btn {
    margin-left: 360px;
  }
}
@media (max-width: 840px) {
  .btn {
    margin-left: 270px;
  }
}
@media (max-width: 777px) {
  .page {
    min-height: 100vh;
    height: auto;
    padding-bottom: 1rem;
  }
  .header-logo {
    display: none;
  }
  .header-brand {
    font-size: 1.5rem;
  }
  .content {
    margin-bottom: 50px;
  }
  .footer {
    width: 100%;
    position: static;
    bottom: 0px;
    left: 0;
  }
  .header-nav-link {
    font-size: 1rem;
  }
  .contacts {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 993px) {
  .btn {
    margin-left: 320px;
  }
}
@media (max-width: 770px){
  .btn {
    margin-left: 250px;
  }
}
@media (max-width: 670px) {
  .contacts-link:last-child::after {
    display: none;
  }
  .header-inner {
    flex-direction: column;
  }
  .header-brand {
    margin-bottom: 1rem;
  }
  .contacts {
    flex-direction: column;
    text-align: center;
  }
  .contacts-link {
    margin-right: 0;
  }
  .content {
    text-align: center;
  }
  .header {
    margin-bottom: 50px;
  }
  .page {
    min-height: 100vh;
    height: auto;
  }
  .btn {
    margin-left: 200px;
  }
}
@media (max-width: 600px){
  .btn {
    margin-left: 170px;
  }
}
@media (max-width: 490px){
  .btn {
    margin-left: 120px;
  }
}
@media (max-width: 430px) {
  .btn {
    margin-left: 80px;
  }
}
@media (max-width: 375px) {
  .btn {
    margin-left: 60px;
  }
}
